@page "/Posts"
@using Models
@using Data
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Web
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inject Services.PostService PostService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h2 class="title">Posts</h2>

@if (PostsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!PostsToShow.Any())
{
    <p>
        <em>No recipes exist. Please add some.</em>
    </p>
}
else
{
    <div class="row">
        @foreach (var post in PostsToShow)
                {
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="@post.image" class="card-img-top" alt="@post.text">
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-decoration: underline">@post.text</h5>
                                        <p class="card-text">@post.text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
    </div>
}



@code {
    public IList<Post> PostsToShow;
    private const int lifeBuffer = 300000;

    protected override async Task OnInitializedAsync()
    {
        string uri = NavigationManager.Uri;
        string id = uri.Substring(uri.IndexOf("?Id=")+4);

        var result = await ProtectedLocalStore.GetAsync<IList<Post>>("Post"+id);

        if (result.Success)
        {
            PostsToShow = result.Value;
        }
        else
        {
            PostsToShow = await PostService.GetPostsAsync(id);
            await ProtectedLocalStore.SetAsync("Post"+id, PostsToShow);

            System.Threading.Timer timer;
            timer = new System.Threading.Timer(async _ => 
            {
                await ProtectedLocalStore.DeleteAsync("Post"+id);
            }, null, lifeBuffer, lifeBuffer);

            CloseTimer(timer);
        }

        base.OnInitialized();
    }
    
    private async Task CloseTimer(System.Threading.Timer timer)
    {
        await Task.Delay(lifeBuffer + 1000);
        await timer.DisposeAsync();
    }
}