@page "/Posts"
@using Models
@using Data
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components
@using System.Web
@inject Services.PostService PostService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h2 class="title">Posts</h2>

@if (PostsToShow == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!PostsToShow.Any())
{
    <p>
        <em>No recipes exist. Please add some.</em>
    </p>
}
else
{
    <div class="row">
        @foreach (var post in PostsToShow)
                {
                    <div class="col-12">
                        <div class="card" style="width: 100%;">
                            <div class="row">
                                <div class="col-3">
                                    <img src="@post.image" class="card-img-top" alt="@post.text">
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-decoration: underline">@post.text</h5>
                                        <p class="card-text">@post.text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
    </div>
}



@code {
    public IList<Post> PostsToShow;        

    protected override async Task OnInitializedAsync()
    {
        string uri = NavigationManager.Uri;
        string id = uri.Substring(uri.IndexOf("?Id=")+4);

        PostsToShow = await PostService.GetPostsAsync(id);
        base.OnInitialized();
    }
}